---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: jellyfin
  namespace: jellyfin
resources:
  - namespace.yaml
  - volume.yaml
  - jellyfin-dpl.yaml
  # - jellyfin-svc.yaml
